<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="container">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <div class="frame night-raining">
            <div class="moon">
                <div class="moon-crater1"></div>
                <div class="moon-crater2"></div>
            </div>
              
                <!-- <div class="center">
                <div id = "cloud"></div>
              </div> -->

                <div class="hill-bg-1"></div>
                <div class="hill-bg-2"></div>
                <div class="hill-fg-1"></div>
                <div class="hill-fg-2"></div>
                <div class="hill-fg-3"></div>
	
  <div class="front">
		<div>
			<div class="temperature">
				<%= (weatherData.main.temp - 273.15).toFixed(1) %>°C
			</div>
			<div class="icons">
				<i class="fas fa-wind"></i><br/><i class="fas fa-tint"></i>
			</div>
			<div>
				<div class="info">
					Wind Speed: E<%= weatherData.wind.speed %> km/h<br>Humidity :<%= weatherData.main.humidity %>% 
				</div>
				<table class="preview">
					<tbody>
						<tr>
							<td>Tue</td>
							<td><%= (weatherData.main.temp_min - 273.15).toFixed(1) %>°C | <%= (weatherData.main.temp_max - 273.15).toFixed(1) %>°C</td>
						</tr>
						<tr>
							<td>Wed</td>
							<td><%= (weatherData.main.temp_min - 273.15).toFixed(1) %>°C | <%= (weatherData.main.temp_max - 273.15).toFixed(1) %>°C</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="proverb">“Frogs croaking in the lagoon,<br/>Means rain will come real soon.”</div>
	</div>
  <div class="drop-big-1"></div>
  <div class="drop-big-2"></div>
  <div class="drop-big-3"></div>
  <div class="drop-big-4"></div>
  <div class="drop-big-5"></div>
  <div class="drop-big-6"></div>
  <div class="drop-big-7"></div>
  <div class="drop-big-8"></div>
  <div class="drop-big-9"></div>
  <div class="drop-big-10"></div>
  <div class="drop-medium-1"></div>
  <div class="drop-medium-2"></div>
  <div class="drop-medium-3"></div>
  <div class="drop-medium-4"></div>
  <div class="drop-medium-5"></div>
  <div class="drop-medium-6"></div>
  <div class="drop-medium-7"></div>
  <div class="drop-medium-8"></div>
  <div class="drop-medium-9"></div>
  <div class="drop-medium-10"></div>
  <div class="drop-small-1"></div>
  <div class="drop-small-2"></div>
  <div class="drop-small-3"></div>
  <div class="drop-small-4"></div>
  <div class="drop-small-5"></div>
  <div class="drop-small-6"></div>
  <div class="drop-small-7"></div>
  <div class="drop-small-8"></div>
  <div class="drop-small-9"></div>
  <div class="drop-small-10"></div>
    </div>



    </div>
</html>



